<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NixChat</title>

    <link href="bundle.css" rel="stylesheet">
</head>
<body ng-app="nix-chat" ng-controller="chatCtrl" style="background-color:#333333;">

<div class="chathistory" ng-show="chatlog.length > 0">
    <ul>
        <li ng-repeat="chat in chatlog">
            <span class="date">{{ chat.date | date : '[HH:mm:ss]'}} </span>
            <span ng-class="{ me: chat.nickname === nickname, you: chat.nickname !==nickname }">{{ chat.nickname }}:</span>
            <span class="chattext">{{chat.text}}</span>
        </li>
    </ul>
</div>

<form ng-submit="processText()" ng-show="chatting">
    <input ng-model="text" minlength="1" maxlength="255" required>
</form>
<form ng-submit="startChatting()" ng-show="!chatting">
    <input minlength="1" maxlength="30" ng-model="nickname" placeholder="Type a nickname to start" required>
</form>

<script src="bundle.js"></script>
</body>
</html>