<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat</title>

    <link href="bundle.css" rel="stylesheet">
</head>
<body ng-app="chat" ng-controller="chatCtrl" style="background-color:#333333;">

<div>
    <ul>
        <li ng-repeat="chat in chatlog">
            <span class="date">{{ ::chat.date | date : '[HH:mm:ss]'}} </span>
            <span class="{{ ::getNickClass(chat) }}">{{ ::chat.nickname }}:</span>
            <span class="{{ ::getTextClass(chat) }}" ng-bind-html="::chat.text"></span>
        </li>
    </ul>
</div>

<form ng-submit="processCommand()">
    <input ng-model="text" minlength="1" maxlength="255" required>
</form>

<script src="bundle.js"></script>
</body>
</html>